<%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% @training.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Training</legend>

    <div class="control-group">
      <%= f.label :title, 'What did you do?', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :started_at, 'When did it happen?', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :started_at, :value => l(@training.started_at || Time.now, :format => :day), :class => 'datepicker' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', trainings_path, :class => 'btn' %>
    </div>
  </fieldset>
  
<% end %>
