<% if (completed_trainings = @training_groups.reject {|x| x.future
   }).present? %>

<h3>Completed trainings:</h3>
<br/>
<% for group in @training_groups.reject {|x| x.future } %>

  <div class="training-week" style="margin-bottom: 20px; <%= 'background-color:
                                    lightyellow; border: 1px dashed
                                    gray' if group.current %>">
  <% if group.current %>
    <h3 style="padding: 10px 0 0 10px; text-decoration: underline">Current week</h3>
  <% end %>
  <h4 style="padding: 10px">
    <%= "#{group.week.strftime('Weeek #%W')}"%>
    <span style="color:gray; font-size: 12px; font-weight:
                 normal">
      <%= "(#{l(group.week.beginning_of_week, :format => :month_and_day)} -
           #{l(group.week.end_of_week, :format => :month_and_day)})"  %>
    </span>

  </h4>

  <% if group.trainings.empty? %>
    <table class='table'>
      <tr>
        <td>No stored trainings for this week.</td>
      </tr>
    </table>
  <% end %>


  <% unless group.trainings.empty? %>
    
    <table class="table" sytle="mrgin-bottom: 0">
      <tbody>
        <% for training in group.trainings %>
          <% if training.started_at <= Date.today %>
          <% if training.needs_summary? %>
            <tr rel="popover" 
                data-trigger="hover"
                data-placement="bottom"
                data-delay="300"
                data-title="Summary"
                data-content="<%= 
                            render(:partial => 'training_summary',
                                   :locals => {:training => training})%>">
          <% else %>
            <tr>
          <% end %>
            <td style="width: 20%; padding-left: 20px">
              <span class="label label-info" style="padding-right: 1px;margin-right: 5px">
                <%= " #{training.started_at.strftime("%b %d")}" %>
              </span>
              <%= "#{training.started_at.strftime("%A")}" %>
            </td>
            <td style="width: 20%">
              <% for i in 1..training.feeling_value %>
                <i class="icon-star" style="color: orange"></i>
              <% end %>
              <% for i in 1..(5-training.feeling_value) %>
                <i class="icon-star-empty" style="color: lightgray"></i>
              <% end %>              
            </td>
            <td  style="width: 50%">
              <%= link_to training.title, user_training_path(@athlete,training) %>
              <% if training.needs_summary? %>
                <i class="icon-comment"></i>
              <% end %>
            </td>
            <td></td>
            <td  style="width: 10%"><%= "#{training.total_distance} km" %></td>
          </tr>
      
        <% end %>
        <% end %>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th style="text-align:right">Total</th>
        <th><%= "%5.2f km" % group.trainings.map(&:total_distance).sum %></th>
      </tr>
      </tbody>
    </table>
  <% end %>

  </div>
<% end %>
<% end %>
