- if myself? @user
  %hr
  = render :partial => 'relations'
  %hr

.row
  .span8
    - if myself? @user
      %h1 My Trainings
    - else
      %h1
        Trainings of 
        #{link_to @user.full_name, user_path(@user)}
  .span4
    - if can? :manage_trainings, @user
      .pull-right{style: 'padding-top: 10px'}
        = form_for([@user, Training.new]) do |f|
          %button.btn.btn-primary
            - if myself? @user
              Create new training for myself
            - else
              = "Create new training for #{@user.first_name}"
            .i.icon-arrow-right
%br


%br
= render :partial => 'future_summary'

%br
= render :partial => 'past_training_list'
