<h1>Trainings</h1><br/>

<% for group in @training_groups %>

  <h4>
    <%= "#{group.week.strftime('Weeek #%W')}"%>
    <span style="color:gray; font-size: 12px; font-weight:
                 normal">
      <%= "(#{l(group.week, :format => :month_and_day)} -
           #{l(group.week.end_of_week, :format => :month_and_day)})"  %>
    </span>

  </h4>

  <% if group.trainings.empty? %>
    <table class='table'>
      <tr>
        <td>No stored trainings in this week</td>
      </tr>
    </table>
  <% end %>


  <% unless group.trainings.empty? %>
    <table class="table">
      <tbody>
        <% for training in group.trainings %>
          <tr>
            <td class="span2"><%= "#{training.started_at.strftime("%A")}" %></td>
            <td class="span4"><%= link_to training.title, training_path(training) %></td>
            <td class="span2"><%= "#{training.total_distance} km" %></td>
            <td class="span2">
              <%= link_to 'Edit', edit_training_path(training), :class => 'btn btn-mini' %>
              <%= link_to 'Destroy', training_path(training), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
      
        <% end %>
    
      <tr>
        <th></th>
        <th style="text-align:right">Total</th>
        <th><%= "%5.2f km" % group.trainings.map(&:total_distance).sum %></th>
        <th></th>
      </tr>
      </tbody>
    </table>
  <% end %>
<% end %>
