<h1>Trainings</h1><br/>

<% for group in @training_groups %>

  <div class="training-week" style="<%= 'background-color: lightyellow' if group.current %>">
  <h4>
    <%= "#{group.week.strftime('Weeek #%W')}"%>
    <span style="color:gray; font-size: 12px; font-weight:
                 normal">
      <%= "(#{l(group.week, :format => :month_and_day)} -
           #{l(group.week.end_of_week, :format => :month_and_day)})"  %>
    </span>

  </h4>

  <% if group.trainings.empty? %>
    <table class='table'>
      <tr>
        <td>No stored trainings for this week.</td>
      </tr>
    </table>
  <% end %>


  <% unless group.trainings.empty? %>
    
    <table class="table">
      <tbody>
        <% for training in group.trainings %>
          <tr rel="popover" 
              data-trigger="hover"
              data-placement="bottom"
              data-delay="300"
              data-title="<%= 'Notes' if training.notes.present? %>"
              data-content="<%= training.notes %>">
            <td class="span2"><%= "#{training.started_at.strftime("%A")}" %></td>
            <td class="span4">
              <%= link_to training.title, training_path(training) %>
              <% if training.notes.present? %>
                <i class="icon-comment"></i>
              <% end %>
            </td>
            <td class="span2"><%= "#{training.total_distance} km" %></td>
          </tr>
      
        <% end %>
    
      <tr>
        <th></th>
        <th style="text-align:right">Total</th>
        <th><%= "%5.2f km" % group.trainings.map(&:total_distance).sum %></th>
      </tr>
      </tbody>
    </table>
  <% end %>

  </div>
<% end %>
