<h1>Trainings</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Started at</th>
      <th>Distance</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= training.id %></td>
        <td><%= link_to training.title, training_path(training) %></td>
        <td><%= training.started_at && l(training.started_at, :format => :day) %></td>
        <td><%= "#{training.total_distance} km" %></td>
        <td>
          <%= link_to 'Edit', edit_training_path(training), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', training_path(training), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_training_path, :class => 'btn btn-primary' %>