<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @training.title %>
  <br>
  <b>Started at:</b>
  <%= @training.started_at %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Exercise name</th>
      <th>Distance</th>
      <th>Time</th> 
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @training.exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.id %></td>
        <td><%= exercise.name %></td>
        <td><%= exercise.distance %></td>
        <td><%= exercise.time %></td>
        <td>
          <!-- <%= link_to 'Edit', edit_training_path(@training), :class => 'btn btn-mini' %> -->
          <%= link_to 'Destroy', training_exercise_path(@training, exercise), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Add an excercise:</h2>
<%= form_for([@training, @training.exercises.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :distance %><br />
    <%= f.text_field :distance %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
