<p id="notice"><%= notice %></p>

<p>
  <b>Started at:</b>
  <%= @training.started_at %>
</p>

<table>
  <thead>
    <tr>
      <th>Exercise name</th>
      <th>Distance</th>
      <th>Time</th> 
    </tr>
  </thead>
  <% for exercise in @training.exercises %>
    <tr>
      <td><%= exercise.name%></td>
      <td><%= exercise.distance%></td>
      <td><%= exercise.time%></td>
    </tr>
  <% end %>
</table>

<h2>Add an excercise:</h2>
<%= form_for([@training, @training.exercises.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :distance %><br />
    <%= f.text_field :distance %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
