<p id="notice"><%= notice %></p>


<h2><%= @training.title %></h2><br/>

<div class="row">
  <div class="span4">
    <table class="table">
      <tr>
        <th>Date</th>
        <td><%= l @training.started_at, :format => :day %></td>
      </tr>
      <tr>
        <th>Feeling</th>
        <td><%= @training.feeling %></td>
      </tr>
      <tr>
        <th>Temperature</th>
        <td><%= @training.temperature %></td>
      </tr>
      <tr>
        <th>Weather</th>
        <td><%= @training.weather %></td>
      </tr>
      <tr>
        <th>Surface</th>
        <td><%= @training.surface %></td>
      </tr>
    </table>    
  </div>
  
  <div class="span8">
    <h4>Notes</h4><br/>
    <div class="well">
      <%= @training.notes %>
    </div>
  </div>
</div>



<table class="table table-striped">
  <thead>
    <tr>
      <th>Exercise name</th>
      <th>Distance</th>
      <th>Time</th> 
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @training.exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.name %></td>
        <td><%= exercise.distance %></td>
        <td><%= exercise.formatted_time %></td>
        <td>
          <!-- <%= link_to 'Edit', edit_training_path(@training), :class => 'btn btn-mini' %> -->
          <%= link_to 'Destroy', training_exercise_path(@training, exercise), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
    
    <tr>
      <%= form_for([@training, @training.exercises.build]) do |f| %>
        <td>
          <%= f.text_field :name %>
        </td>
        <td>
          <%= f.text_field :distance %>
        </td>
        <td>
          <%= f.select(:hours, (0..5).map {|p| [ p, p ] }, {}, {:style => 'width: 45px'}) %> h
          <%= f.select(:minutes, (0..59).map {|p| [ ("%02d" % p), p ] }, {}, {:style => 'width: 50px'}) %> m
          <%= f.select(:seconds, (0..59).map {|p| [ ("%02d" % p), p ] }, {}, {:style => 'width: 50px'}) %> s
        </td>
        <td>
          <%= f.submit 'Add', :class => 'btn btn-mini btn-success' %>
        </td>
      <% end %>
    <tr/>
  </tbody>
</table>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
