!!!

%html
  %head
    %title Coach Me
    /[if lt IE 9]
      %script{src: 'http://html5shim.googlecode.com/svn/trunk/html5.js', type: 'text/javascript'}
    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{name: 'viewport', content:'width=device-width, initial-scale=1.0'}

  %body
    #wrap
      = render partial: 'layouts/menubar'

      .container
        .row
          .span12= render partial: 'layouts/messages'
          .span12= yield
      #push

    #footer
      .container
        = render partial: 'layouts/footer'


    = render partial: 'layouts/error_modal'
    = render partial: 'layouts/google_analytics'
